@media screen and (max-width: 768px) {
    body {
    background-size: cover; 
  }
  main {
    flex-direction: column;
    text-align: center;
  }

  .instrucao {
    align-self: self-start;
  }

  .mensagem-alerta {
    align-self: self-start;
  }
}