body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../images/img.background.png') center center repeat-x;
  background-size: cover; 
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 320px;
  color: white;
  margin: 50px;
}

.container h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

form {
  max-width: 340px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 7px 0;
}

input::placeholder {
  color: #A8A8A8;
  font-size: 15px;
}

textarea::placeholder {
  color: #A8A8A8;
  font-size: 15px;
}

textarea {
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin: 7px 0;
  border-radius: 5px;
  border: 1px solid black;
  resize: none;
  /* BORDINHA MÓVEL DO TEXTAREA */
}

.instrucao {
  margin-top: 10px;
  margin-bottom: -14px;
}

.enviar {
  background-color: #3CCC87;
  padding: 15px;
  margin-top: 25px;
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
}


/* CLASSES PARA MANIPULAÇÃO COM JS */
.campo-obrigatorio {
  border: 1px solid red;
}

.campo-preenchido {
  border: 1px solid green;
}

.mensagem-alerta {
  color: red;
  font-size: 9px;
  margin-top: -7px;
  visibility: hidden;
}

.mostrar-erro {
  visibility: visible;
}